/* Color Systems Name and RGB */





/* Color propert works in foreground */




h1 {

    color: blue;

    background-color: gray;


}


p{

    color: blue;
    background-color: cornsilk;


}


button{

    color: gold;
    background-color: ;

}


h4 {

    color: rgb(255,0,0);


}







