
section
{
    margin-top: 100px;

}



div {

    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n)
{
    background-color: #f7db6a;

}


div:nth-of-type(3n)
{
    background-color: #ebbe2d;


}


/* Rotate  */

#one{

    transform: rotate(45deg)

}



/* Double of its  */
#two{

    transform: scale(1.2)

}



/* Move on x-axis and y-axis  */
#three{

    transform: translate(20%, 40%);

}


/* Skew */

#four{

    transform:skew(40deg);

}


/* Together many transform properties  */


#five {

    transform: rotate(20deg) translate(20px, 10px);

}