h1 {

  background-color: yellow;
  border: 2px solid black;  



}

@media (width:400px)
{
  
  h1{

    background-color: red;
    color: white;
  }


  div{

    height: 100px;
    width: 100px;
    background-color: blue;

  }


}


/* Kaam se kaam width itno hoo yaan is se ziyada ho  */


@media (min-width : 700px)
{

  h1{

    background-color: green;

  }

}

/* MEans yada se ziyada width itno hoo yaan is se kaam ho  */

@media (max-width : 700px)
{

  h1{

    background-color: green;

  }

}



/* Iss range k beech mn jab bhi width hoo */

@media (min-width:200px) and (max-width:300px)
{

  h1{

      background-color: red;

  }

}